// colors

$color-1: #83b0b9; // Neptune
$color-2: #d35657; // Chestnut Rose
$color-3: #343943; // Tuna
$color-4: #e4b162; // Equator

$color-5: #131519; // Woodsmoke
$color-6: #ffffff; // White

$color-white: #f3f6fa;
$color-black: #231f20;
$color-red: #e74c3c;
$color-navyblue: #2c3e50;
$color-blue: #5480f1;
$color-dark: #343434;
$color-purple: #373a47;

$color-border-black:	rgba(35,31,32,0.25);
$color-border-white:	rgba(233,246,250,0.25);
// fonts 

$primary-font: 'Roboto', sans-serif;
$font-weight: 300;
$font-weight-bold: 600;

// sidebar size

$sidebar-width: 300px;

//animation

$animation-duration: 0.5s;

// Size.
$size-border-radius: 2px;
$size-element-height: 3em;
$size-element-margin: 1.5em;

//Icon size
$icon-S: 24px;
$icon-M: 32px;
$icon-L: 48px;